<!DOCTYPE html>
<html lang="uk" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Панель адміністратора</title>
    <link type="text/css" rel="stylesheet" href="../../static/css/style.css">
</head>
<body>
    <div id="identification_block" sec:authorize="isAuthenticated()">
        <h1>Користувач <span sec:authentication="name"> Username </span></h1><br>
        <a th:href="@{/logout}">Вихід з системи</a>
    </div><br>
    <h1>Панель адміністратора</h1><br>
        <div id="admin_block">
            <ul><h3>Працівники</h3>
                <li>
                    <a th:href="@{/admin/createUser}" sec:authorize="hasAuthority('ADMIN-WRITE')">Створити нового праціника</a><br>
                </li>
                <li>
                    <a th:href="@{/admin/allUsers}" sec:authorize="hasAuthority('ADMIN-READ')">Список працівників</a><br>
                </li>
            </ul>
            <ul sec:authorize="hasAuthority('ADMIN-WRITE')"><h3>Заклади</h3>
                <li>
                    <a>Новий заклад</a><br>
                </li>
                <li>
                    <a>Список закладів</a><br>
                </li>
            </ul>
            <ul><h3>Інгредієнти та групи інгредієнтів</h3>
                <li>
                    <a th:href="@{/admin/createIngredient}"
                       sec:authorize="hasAuthority('ADMIN-WRITE')">Новий інгредієнт</a>
                </li>
                <li>
                    <a th:href="@{/admin/allIngredients}" sec:authorize="hasAuthority('ADMIN-READ')">Список інгредієнтів</a>
                </li>
                <li>
                    <a sec:authorize="hasAuthority('ADMIN-WRITE')">Нова група інгредієнтів</a>
                </li>
                <li>
                    <a sec:authorize="hasAuthority('ADMIN-READ')">Список груп інгредієнтів</a>
                </li>
            </ul>
            <ul><h3>Продукти</h3>
                <li>
                    <a sec:authorize="hasAuthority('ADMIN-WRITE')">Новий продукт</a>
                </li>
                <li>
                    <a sec:authorize="hasAuthority('ADMIN-READ')">Список продуктів</a>
                </li>
                <li>
                    <a sec:authorize="hasAuthority('ADMIN-WRITE')">Нова група продуктів</a>
                </li>
                <li>
                    <a sec:authorize="hasAuthority('ADMIN-READ')">Список груп продуктів</a>
                </li>
            </ul>
        </div>
</body>
</html>