<!DOCTYPE html>
<html lang="uk" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Створити новий інгредієнт</title>
</head>

<body>
    <div id="identification_block" sec:authorize="isAuthenticated()">
        <h1>Користувач <span sec:authentication="name"> Username </span></h1><br>
        <a th:href="@{/logout}">Вихід з системи</a>
    </div><br>
    <div id="head_block" sec:authorize="isAuthenticated()">
        <h1>Навігація</h1><br>
        <a th:href="@{/admin/admin}">Панель адміністратора</a><br>
        <a th:href="@{/admin/allIngredients}">Переглянути список інгредієнтів</a><br>
        <a th:href="@{/admin/createIngredient}">Створити нову групу інгредієнтів</a><br>
        <a th:href="@{/admin/createIngredient}">Переглянути список інгредієнтів</a><br>
    </div><br>
<form th:action="@{/admin/createIngredient}" th:object="${ingredientDto}" th:method="post" commandName="createIngredient">
    <label th:for="name">Назва інгредієнта</label>
    <input th:type="text" th:field="*{name}" th:id="name" autofocus="autofocus">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span><br>

    <label th:for="costPerUnit">Ціна за одиницю товару</label>
    <input th:type="number" th:field="*{costPerUnit}" th:id="costPerUnit" autofocus="autofocus">
    <span th:if="${#fields.hasErrors('costPerUnit')}" th:errors="*{costPerUnit}"></span><br>

    <label th:for="nameOfUnit">Одиниця вимірювання товару</label>
    <input th:type="text" th:field="*{nameOfUnit}" th:id="nameOfUnit" autofocus="autofocus">
    <span th:if="${#fields.hasErrors('nameOfUnit')}" th:errors="*{nameOfUnit}"></span><br>

    <table>
            <tr>
                <td>Група інгредієнтів: </td>
                <td>
                    <select th:field="${ingredientDto.ingredientGroupName}">
                        <option value="">--</option>
                        <option th:each="ingredientGroup:${ingredientGroups}"
                                th:value="${ingredientGroup}"
                                th:text="${ingredientGroup}"></option>
                    </select>
                </td>
            </tr>
        </table><br>
    <input th:type="submit" th:value="Підтвердити">
</form>
</body>

</html>