<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Змінити дані користувача</title>
</head>
<body>
<h2>Змінити дані користувача</h2>
<div id="identification_block" sec:authorize="isAuthenticated()">
    <h1>Користувач <span sec:authentication="name"> Username </span></h1><br>
    <a th:href="@{/logout}">Вихід з системи</a>
</div><br>
<div id="head_block" sec:authorize="isAuthenticated()">
    <h1>Навігація</h1><br>
    <a th:href="@{/admin/admin}">Панель адміністратора</a><br>
    <a th:href="@{/admin/allIngredients}">Переглянути список інгредієнтів</a><br>
    <a th:href="@{/admin/createIngredient}">Створити нову групу інгредієнтів</a><br>
    <a th:href="@{/admin/createIngredient}">Переглянути список інгредієнтів</a><br>
</div><br>
<form th:action="@{/admin/editIngredient(id=${ingredientDto.id})}" th:method="post">
    <label>Назва</label>
    <input th:value="${ingredientDto.name}" th:field="${ingredientDto.name}"><br>

    <label>Назва одиниці вимірювання</label>
    <input th:value="${ingredientDto.nameOfUnit}" th:field="${ingredientDto.nameOfUnit}"><br>

    <table>
        <tr>
            <td>Група інгредієнта: </td>
            <td>
                <select th:field="${ingredientDto.ingredientGroupName}">
                    <option value="">--</option>
                    <option th:each="ingredientGroup:${ingredientGroups}"
                            th:value="${ingredientGroup}"
                            th:text="${ingredientGroup}"></option>
                </select>
            </td>
        </tr>
    </table><br>
    <button th:type="submit">Зберегти</button>
</form>
</body>
</html>