<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Управління користувачами</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Ід</th>
                <th>Прізвище</th>
                <th>Ім'я</th>
                <th>Роль</th>
                <th>Змінити</th>
                <th>Видалити</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user:${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.userRole}"></td>
                <td><a th:href="@{editUser(id=${user.id})}">Змінити</a></td>
                <td> <a th:href="@{deleteUser(id=${user.id})}">Видалити</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>