<!DOCTYPE html>
<html lang="uk" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Створити нового працівника</title>
</head>

<body>
    <div id="identification_block" sec:authorize="isAuthenticated()">
        <h1>Користувач <span sec:authentication="name"> Username </span></h1><br>
        <a th:href="@{/logout}">Вихід з системи</a>
    </div><br>
<form th:action="@{/admin/createUser}" th:object="${userDto}" th:method="post">
    <label th:for="lastName">Прізвище</label>
    <input th:type="text" th:field="*{lastName}" th:id="lastName" autofocus="autofocus">
    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span><br>

    <label th:for="firstName">Ім'я</label>
    <input th:type="text" th:field="*{firstName}" th:id="firstName" autofocus="autofocus"><br>
    <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span><br>

    <label th:for="email">Електронна пошта</label>
    <input th:type="text" th:field="*{email}" th:id="email" autofocus="autofocus"><br>
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span><br>

    <label th:for="email">Пароль</label>
    <input th:type="password" th:field="*{password}" th:id="password" autofocus="autofocus"><br>
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span><br>

    <table>
        <tr>
            <td>Роль користувача: </td>
            <td>
                <select th:field="${userDto.role}">
                    <option value="">--</option>
                    <option th:each="role:${roles}"
                            th:value="${role}"
                            th:text="${role}"></option>
                </select>
            </td>
        </tr>
    </table><br>

    <table>
        <tr>
            <td>Заклад: </td>
            <td>
                <select th:field="${userDto.outlet}">
                    <option value="">--</option>
                    <option th:each="outlet:${outlets}"
                            th:value="${outlet}"
                            th:text="${outlet}"></option>
                </select>
            </td>
        </tr>
    </table><br>

    <input th:type="submit" th:value="Підтвердити">
</form>
</body>

</html>