<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Змінити дані користувача</title>
</head>
<body>
<h2>Змінити дані користувача</h2>
<div id="identification_block" sec:authorize="isAuthenticated()">
    <h1>Користувач <span sec:authentication="name"> Username </span></h1><br>
    <a th:href="@{/logout}">Вихід з системи</a>
</div><br>
<form th:action="@{/admin/editUser(id=${userDto.id})}" th:method="post">
    <label>Прізвище</label>
    <input th:value="${userDto.lastName}" th:field="${userDto.lastName}"><br>
    <label>Ім'я</label>
    <input th:value="${userDto.firstName}" th:field="${userDto.firstName}"><br>
    <table>
        <tr>
            <td>Роль користувача: </td>
            <td>
                <select th:field="${userDto.role}">
                    <option value="">--</option>
                    <option th:each="role:${roles}"
                            th:value="${role}"
                            th:text="${role}"></option>
                </select>
            </td>
        </tr>
    </table><br>
    <table>
        <tr>
            <td>Заклад: </td>
            <td>
                <select th:field="${userDto.outlet}">
                    <option value="">--</option>
                    <option th:each="outlet:${outlets}"
                            th:value="${outlet}"
                            th:text="${outlet}"></option>
                </select>
            </td>
        </tr>
    </table><br>
    <button th:type="submit">Зберегти</button>
</form>
</body>
</html>